[submodule "public/themes/redmine-theme"]
	path = public/themes/redmine-theme
	url = https://github.com/nti-ufpe/redmine-theme.git
[submodule "plugins/redmine_issue_checklist"]
	path = plugins/redmine_issue_checklist
	url = https://github.com/nti-ufpe/redmine_issue_checklist.git
[submodule "plugins/redmine_people"]
	path = plugins/redmine_people
	url = https://github.com/nti-ufpe/redmine_people.git
[submodule "plugins/redmine_release_notes"]
	path = plugins/redmine_release_notes
	url = https://github.com/nti-ufpe/redmine_release_notes.git
[submodule "plugins/due_date_reminder"]
	path = plugins/due_date_reminder
	url = https://github.com/nti-ufpe/due_date_reminder.git
[submodule "plugins/redmine_favourite_projects"]
	path = plugins/redmine_favourite_projects
	url = https://github.com/nti-ufpe/redmine_favourite_projects.git
[submodule "plugins/redmine_issues_macros"]
	path = plugins/redmine_issues_macros
	url = https://github.com/nti-ufpe/redmine_issues_macros.git
[submodule "plugins/redmine_issue_detailed_tabs_time"]
	path = plugins/redmine_issue_detailed_tabs_time
	url = https://github.com/nti-ufpe/redmine_issue_detailed_tabs_time.git
[submodule "plugins/latest_issues"]
	path = plugins/latest_issues
	url = https://github.com/nti-ufpe/latest-issues-redmine-plugin.git
[submodule "plugins/timelog_timer"]
	path = plugins/timelog_timer
	url = https://github.com/nti-ufpe/redmine_timelog_timer.git
[submodule "plugins/scrum2b"]
	path = plugins/scrum2b
	url = https://github.com/nti-ufpe/scrum2b.git
[submodule "plugins/redmine_issue_templates"]
	path = plugins/redmine_issue_templates
	url = https://github.com/nti-ufpe/redmine_issue_templates.git
[submodule "plugins/redmine_monitoring_controlling"]
	path = plugins/redmine_monitoring_controlling
	url = https://github.com/nti-ufpe/Redmine-Monitoring-Controlling.git
